# /node_modules/* and /bower_components/* ignored by default

# Ignore ni-element-infrastructure
ni-element-infrastructure/*
ni-test-infrastructure
performance
examples
dist
docs
tests
source/JUMFlot/*
source/misc/*
source/NationalInstruments/jquery.flot.axishandle.js
source/NationalInstruments/jquery.flot.charting.js
source/NationalInstruments/jquery.flot.cursors.js
source/NationalInstruments/jquery.flot.digitalAxis.js
source/NationalInstruments/jquery.flot.digitalWaveform.js
source/NationalInstruments/jquery.flot.highlights.js
source/NationalInstruments/jquery.flot.historybuffer.analogWaveform.js
source/NationalInstruments/jquery.flot.historybuffer.js
source/NationalInstruments/jquery.flot.historybuffer.numeric.js
source/NationalInstruments/jquery.flot.intensitygraph.js
source/NationalInstruments/jquery.flot.parkinglot.js
source/NationalInstruments/jquery.flot.range.cursors.js
source/NationalInstruments/jquery.flot.scattergraph.js
source/NationalInstruments/jquery.flot.scrollbar.js
source/NationalInstruments/jquery.flot.segment-tree.js
source/NationalInstruments/jquery.thumb.js
